
header
  nav
    a(href="/") Home | 
    a(href="/displaywood") Display Wood |
    a(href="/displayfurniture") Display Furniture |
    a(href="/regfurniture") Register Furniture |
    a(href="/regwood") Register Wood |
    a(href="signin") Sign in |
    a(href="/signup") Sign Up
   
    

