doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Mayondo Wood &amp; Furniture

  body
    include ../components/nav

    .page-container
      p Welcome to mayondo wood and furniture invetory system 

      p Manage invetories and fulfill orders the right way!

      h3 OUR MISSION 
      p To provide high quality furniture and wood with pride and originality 

      h3 OUR VISION 
      p To create better everyday life for people

    include ../components/footer
